<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".browser.ProtocolProbeActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:permission="android.permission.DUMP"
            android:theme="@style/Theme.JuntaFirmaMobile"
            android:windowSoftInputMode="adjustResize" />
    </application>
</manifest>
